*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
}

main{
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#side_bar{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    color: white;
    padding: 1rem;
    z-index: 1;
}

#side_bar aside h1{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

#side_bar aside p{
    margin: 2rem 0rem;
}

#side_bar aside ul{
    padding: 1rem 0.5rem 5rem 2rem;
}

#main_container{
    width: 70%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_container div{
    box-shadow: 1px 1px 4px 1px black;
    padding: 0.5rem;
}

#main_container button{
    display: block;
    border: none;
    background-color: #045FB4;
    color: white;
    font-size: larger;
    padding: 0.5rem 1rem;
    display: flex;
    margin: 1rem auto;
    margin-top: 2rem;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px black;
    cursor: pointer;
}

#form_caller p, #form_caller h2{
    color: #045FB4;
    font-weight: 500;
}

#form_caller h2{

    margin: 1rem 0.3rem;
}

#main_container img, #form_main aside img{
    object-fit: contain;
}

#drv_logo, #form_main aside img{
    width: 25vw;
}

#form_main{
    min-width: 50%;
    padding: 1rem;
    background-color: white;
}

#form_main aside input{
    width: 100%;
    padding: 0.8rem 0.5rem;
    box-shadow: 1px 1px 2px black;
    border: 1px solid #045FB4;
    margin: 0.5rem 0rem;
    border-radius: 2px;
    outline: none;
    font-size: inherit;
}

#form_main aside input:focus{
    box-shadow: none;
}

#side_footer{
    font-size: smaller;
}

/*  */

@media (max-width:1030px) {
    #side_bar{
        width: 40%;
    }

    #main_container{
        width: 60%;
    }
}

@media (max-width:900px) {
    #side_bar{
        width: 30%;
    }

    #main_container{
        width: 70%;
    }
}

@media (max-width:650px) {
    #side_bar{
        width: 10%;
    }

    #side_bar aside{
        display: none;
    }

    #main_container{
        width: 90%;
        align-items: flex-start;
    }

    #drv_logo, #form_main aside img{
        width: 35vw;
    }

    #form_main{
        min-width: 50%;
        padding: 1rem 0.5rem;
    }
}

@media (max-width:500px) {

    #main_container{
        width: 90%;
        align-items: flex-start;
        font-size: smaller;
    }

    #drv_logo, #form_main aside img{
        width: 35vw;
    }

    #form_caller, #xls_file{
        width: 100%;
    }

    #form_main aside input{
        padding: 0.4rem 0.3rem;
    }
}

@media (max-width:400px) {

    #side_bar{
        width: 5%;
    }

    #main_container{
        width: 95%;
        align-items: flex-start;
        font-size: smaller;
    }

    #form_caller, #xls_file{
        width: 100%;
    }
}